@model List<Voiture>

@{
    ViewData["Title"] = "Inventaire des voitures";
}


<h1>Inventaire des voitures</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Ajouter une voiture</a>
</p>


<table class="table">
    <thead>
        <tr>
            <th>Marque</th>
            <th>Modèle</th>
            <th>Année</th>
            <th>Statut</th>
            <th>Prix d'achat</th>
            <th>Prix de vente</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var voiture in Model)
        {
            <tr>
                <td>@voiture.Modele.Marque.Nom</td>
                <td>@voiture.Modele.Nom</td>
                <td>@voiture.Annee</td>
                <td>@voiture.Vente.Statut</td>
                <td>@voiture.Vente.PrixAchat €</td>
                <td>@voiture.Vente.PrixVente €</td>
                <td>
                    <a asp-action="Details" asp-controller="Voitures" asp-route-id="@voiture.Id" class="btn btn-primary btn-sm">Gérer les réparations</a>
                    <a asp-action="Edit" asp-controller="Voitures" asp-route-id="@voiture.Id" class="btn btn-secondary btn-sm">Modifier</a>
                    <a asp-action="Delete" asp-controller="Voitures" asp-route-id="@voiture.Id" class="btn btn-danger btn-sm">Supprimer</a>
                </td>

            </tr>
        }
    </tbody>
</table>




